.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header .logo {
    max-height: 50px;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 15px;
}
