<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side"
        opened fixedInViewport="true" fixedTopGap="70"
    >
        <mat-nav-list>
            <a mat-list-item routerLink="/"><i class='material-icons'>home</i>Ínicio</a>
            <a mat-list-item routerLink="/cursos"><i class='material-icons'>school</i>Cursos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
