<!--<app-primeiro></app-primeiro>-->

<!--
<h1>Olá Mundo Cruel!!!</h1>
<p>Tudo bem, vamos nessa!</p>
<a href="https:\\uol.com.br">UOL</a>
<br><br>
Nome<input type="text" name="" id="">
<app-primeiro></app-primeiro>
<segundo></segundo>
<app-terceiro></app-terceiro>
-->
<!--
<h1>Bindings - Exemplos</h1>
<hr>
<div>
    <app-exemplos-binding></app-exemplos-binding>
</div>

<app-diretiva-ngif></app-diretiva-ngif>
<hr>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-cursos></app-cursos>
<app-pipes></app-pipes>
-->

<div class="container">
    <nav>
        <span>Rotas no Angular</span>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/segunda" routerLinkActive="active">Segunda</a>
        <a routerLink="/terceira" routerLinkActive="active">Terceira</a>
        <a routerLink="/quarta" routerLinkActive="active">Quarta</a>
        <a routerLink="/diretiva-ngif" routerLinkActive="active">Diretiva ngIf</a>
        <a routerLink="/diretiva-ngfor" routerLinkActive="active">Diretiva ngFor</a>
        <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
        <a routerLink="/cursos" routerLinkActive="active">Cursos</a>
        <a routerLink="/exemplos-bindings" routerLinkActive="active">Exemplos Bindings</a>
    </nav>

    <section class="components">
        <router-outlet></router-outlet>
    </section>
</div>




